<!-- TODO: move to normal SaSS styling -->
<div style="display: flex; justify-content: space-between; padding: 0.5rem">
  <ion-buttons>
    <div style="display: flex; align-items: center">
      <p style="font-style: italic; font-weight: 800">MOVIEDB</p>
      <ion-icon name="play" size="large"></ion-icon>
    </div>
  </ion-buttons>
  <ion-buttons>
    <ion-avatar>
      <img
        alt="Silhouette of a person's hea d"
        src="https://ionicframework.com/docs/img/demos/avatar.svg"
      />
    </ion-avatar>
  </ion-buttons>
</div>
