<div class="ion-padding">
  <ion-searchbar
    (ionFocus)="onFocus()"
    [(ngModel)]="searchString"
    (ionInput)="onInput($event)"
    placeholder="Search database"
  >
  </ion-searchbar>

  <!-- if there is yet to be a search made -->
  @if (searchString === '') {
  <div>
    <!-- Hero image - most trending -->
    <img src="https://placehold.co/400x450" alt="Movie Poster" />
    <app-trending></app-trending>
    <!-- Favourites CTA -->
    <app-cta
      heading="Favourites"
      imageUrl="https://placehold.co/400x200"
      imageAlt="Favourites CTA"
      cardHeader="All my Favourites"
      buttonLabel="View"
      buttonRoute="/tabs/favourites"
    />
    <!-- TODO: is there a more elegent way to implement this? -->
    <!-- Library List CTA -->
    <app-cta
      heading="Library"
      imageUrl="https://placehold.co/400x200"
      imageAlt="Library CTA"
      cardHeader="Track your watching"
      buttonLabel="View"
      buttonRoute="/tabs/library"
    />
  </div>
  }
  <!-- If the searchbar is focused &&  the user has not yet search || awaiting search results -->
  @if(isFocused && searchString !== '') {
  <!-- Render results here -->
  <div *ngFor="let result of searchResult">
    <app-search-result-preview
      [imageSrc]="result.poster_path"
      [imageAlt]="result.title"
      [title]="result.title"
    >
    </app-search-result-preview>
  </div>
  }
</div>
