<ion-header translucent="true">
  <ion-toolbar>
    <app-header></app-header>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <!-- Poster -->
    <img
      [alt]="title + ' poster'"
      [src]="'https://image.tmdb.org/t/p/original/' + imageSrc"
    />
    <ion-card-header>
      <ion-card-title>
        <h1>{{ title }}</h1>
      </ion-card-title>
    </ion-card-header>
    <!-- Actions -->
    <ion-card-content>
      <app-maintain-favourites
        [id]="movieId"
        [imageSrc]="'https://image.tmdb.org/t/p/original/' + imageSrc"
        [title]="title"
      >
      </app-maintain-favourites>
      <app-maintain-library-action></app-maintain-library-action>
    </ion-card-content>
  </ion-card>
  <div class="ion-padding section">
    <ion-text>
      <p>{{ description }}</p>
    </ion-text>
    <!-- Cast -->
    <ion-text>
      <h2>Cast - limited to 3</h2>
    </ion-text>
    <div>
      <ion-card *ngFor="let cast of movieDetailsCast" class="ion-padding">
        <img
          [src]="'https://image.tmdb.org/t/p/original/' + cast.profile_path"
        />
        <h3>{{cast.name}}</h3>
        <p>{{cast.character}}</p>
        <ion-button (click)="goToPersonDetails(cast.id)"> view </ion-button>
      </ion-card>
    </div>
    <!-- Cast end -->
    <!--  -->
    <!-- Crew start -->
    <ion-text>
      <h2>Crew - limited to 3</h2>
    </ion-text>
    <ion-card *ngFor="let crew of movieDetailsCrew" class="ion-padding">
      <h3>{{crew.name}}</h3>
      <p>{{crew.job}}</p>
      <ion-button (click)="goToPersonDetails(crew.id)"> view </ion-button>
    </ion-card>
    <!-- Crew end -->
  </div>
</ion-content>
